* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
 }

 :root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-very-dark-blue: hsl(217, 54%, 11%);
    --very-dark-blue : hsl(216, 50%, 16%);
    --dark-blue : hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
 }

body {
    background: var(--very-very-dark-blue);
    -webkit-font-smoothing: antialiased;
    display: flex;
    position: relative;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
 }

body,
input,
button,
table {
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
 }

button {
    cursor: pointer;
}

.main{
    background: var(--very-dark-blue);
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
    max-width: 378px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 20px;
}
.img{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--cyan); */
}

.img img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}




.hidden{
    display: none;
}
.main h2{
    color: var(--white);
    padding: 20px 0;
}

.main h2:hover{
    color: var(--cyan);
}

.main p{
    color: var(--soft-blue);
}

.rate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.price, .time{
    display: flex;
    width: 35%;
    flex-direction: row;
    justify-content: space-between;
}
.price p, .price img{
    align-self: center;
}

div.time p{
    position: relative;
    top: 6px;
}

hr{
    margin: 20px 0;
}

.profile{
    display: flex;
    flex-direction: row;
}

.profile p{
    position: relative;
    top: 15px;
    left: 20px;
}

.profile p span:hover{
    color: var(--cyan);
}

.profile img{
    border: 1px var(--white) solid;
    border-radius: 50%;
}


